.new-deck-button {
  margin: 18px;
}

.cutout-button {
  background-color: @window_bg_color;
  border-radius: 9999px;
  padding: 2px;
}

.text-box textview,
.text-box text {
  background: none;
  color: inherit;
}

.scrolled-window undershoot.top {
  box-shadow: inset 0 1px alpha(@shade_color, .75);
  background: linear-gradient(to bottom, alpha(@shade_color, .75), transparent 4px);
}

.scrolled-window undershoot.bottom {
  box-shadow: inset 0 -1px alpha(@shade_color, .75);
  background: linear-gradient(to top, alpha(@shade_color, .75), transparent 4px);
}

.card-text {
  font-weight: 700;
  font-size: 30pt;
}

.emoji-icon {
  background-color: @card_shade_color;
  border-radius: 9999px;
  padding: 16px;
  font-size: 5rem;
}

.hidden {
  color: transparent;
  background-color: transparent;
}

list .activatable {
  background-color: transparent;
}

.counter {
  background-color: @card_shade_color;
  border-radius: 9999px;
  margin: 6px 0;
  padding: 0 12px;
  font-size: .8rem;
  font-weight: bold;
}

